{% extends 'base.html' %}
{% block title %}Logar-se{% endblock %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
        <div class="container mt-3">
            {% include 'partials/_messages.html' %}
            <div class="row mt-3">
                <div class="col-lg-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Teste</h3>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h3>Login</h3>
                            <hr>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-sm-12">
                                        {% bootstrap_label "Email*" label_for="id_username" %}
                                {% bootstrap_field form.username show_label=False placeholder="email@exemplo.com.br" %}
                                    </div>
                                    <div class="form-group col-sm-12">
                                        {% bootstrap_label "Senha*" label_for="id_password" %}
                                        {% bootstrap_field form.password show_label=False placeholder="Senha" %}
                                    </div>
                                    <div class="form-group col-sm-10 offset-sm-1">
                                        {% bootstrap_form_errors form layout='inline' %}
                                    </div>

                                </div>
                                <div class="col-sm-12">
                                    {% buttons %}
                                    <button type="submit" class="btn btn btn-dark btn-block"
                                            value="Entrar">Entrar</button>
                                    {% endbuttons %}
                                </div>
                            </form>
                            <div class="border-top pt-3 mt-3" style="text-align: center;">
                                <small class="texte-muted">
                                    Ainda não tem uma Conta?<a class="ml-2" href="{% url 'register' %}">Registre-se</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}