{% extends 'base.html' %}
{% block title %}Inscreva-se{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
        <div class="container mt-3">
            <div class="row mt-3">
                <div class="col-xl-6 offset-xl-3">
                    {% for message in messages %}
                        {% if message %}
                            {% if message.extra_tags == 'sucesso' %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="card">
                        <div class="card-body">
                            <h3>Inscreva-se em nossa *Newsletter*</h3>
                            <hr>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <div class="col-sm-12 p-0 mt-5">
                                    <input class="btn btn btn-dark btn-block shadow-lg" type="submit" value="Inscrever-se">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}