{% extends 'base.html' %}
{% block title %}Lista de Inscritos{% endblock %}
{% block content %}
<main>
    <section>
        <div class="container" id="subscribers-con">
            <div class="row mt-3">
                <div class="col-lg-6 mt-3">
                    <h2>Lista de Inscritos</h2>
                </div>
            </div>
            {% if not subscribers %}
             <div class="row mt-3 ">
                <div class="col-lg-6 mb-3">
                    <h5>Não há inscritos no momento.</h5>
                </div>
             </div>
            {% else %}
            <div class="row mt-2 mb-5">
                <div class="col-xl-12">
                    <div class="table-responsive-xl mb-5">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Sobrenome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Inscrito em</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subscriber in subscribers %}
                            <tr>
                                <th scope="row">{{ subscriber.id }}</th>
                                <td>{{ subscriber.name }}</td>
                                <td>{{ subscriber.lastname }}</td>
                                <td>{{ subscriber.email }}</td>
                                <td>{{ subscriber.phone }}</td>
                                <td>{{ subscriber.reason }}</td>
                                <td>{{ subscriber.created_at }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <div class="d-flex justify-content-end">
                                {% include 'partials/_pagination.html' %}
                            </div>
                        </table>
                        <div class="d-flex justify-content-end">
                            {% include 'partials/_pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}